   <!--   Footer   -->
	<footer class="myfooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
                    <h4 class="title-widget">Contact Us</h4>
                    <div class="row"> Main office: No. 313 1st Floor,City Plaza,Opp. Dhuppad Petrol Pump,Raipur</div>
                    <div class="row"><i class="fa fa-phone"></i> 91-9826111153</div>
					<div class="row"><i class="fa fa-envelope-o"></i> paulsir@tacraipur.com</div>
					<div class="row"><i class="fa fa-envelope-o"></i> tridibpaul@yahoo.com.</div>
				</div>
				<div class="col-sm-4">
                    <h4 class="title-widget">Category</h4>
                    <div calss="col-sm-5"></div>
					<div class="category col-sm-7">
						<div><a href="#" >Help</a></div>
						<div><a href="#" >Terms and Conditions</a></div>     
					</div>
				</div>
                <div class="col-sm-4">
                    <h4 class="title-widget">Follow Us</h4>
					<ul class="social social-circle">
						<li> <a href="https://www.facebook.com/paulsir.tac/?timeline_context_item_type=intro_card_work&timeline_context_item_source=100000186734623&pnref=lhc" target="blank" class="icoFacebook"><i class="fa fa-facebook"></i></a></li>
						<li> <a href="https://twitter.com/paulsir23" target="blank"class="icoTwitter"> <i class="fa fa-twitter"></i> </a> </li>
						<li> <a href="https://www.linkedin.com/in/tridib-kuar-paul-91aa6189" class="icoLinkedin" target="blank"> <i class="fa fa-linkedin"></i> </a> </li>
						<li> <a href="https://www.youtube.com/channel/UC4tw-TwneMhir1uoHL-knYw" class="icoRss" target="blank"> <i class="fa fa-youtube"></i> </a> </li>
                    </ul>
                    <div class="row text-center"> © 2017. Gopiballavpur.com</div>
				</div>
			</div>
		</div> <!-- ./container -->
	</footer>	
</body>
</html>