<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <script src="https://use.fontawesome.com/1dec14be15.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/course.css">
  </head>
<body>
<h1 class ="mainheading ">Courses</h1>
<div class="container">	
<div class="row category-child" style="margin-top:20px">
        <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
        <a class="thumbnail" href="#">
                <img class="img-responsive" src="https://www.thecrazyprogrammer.com/wp-content/uploads/2015/09/Learn-C-Programming-for-Beginners.jpg" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>C</span>
                </div>
                </div>
        </a>
</div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
         <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://www.unixstickers.com/image/cache/data/stickers/C/C++-unofficial.sh-600x600.png" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>C++</span>        
                </div>
                </div>
         </a>
        </div> 
        <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
         <a class="thumbnail" href="#">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>JAVA</span>        
                </div>
                </div>
         </a>
        </div>
        <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
        <a class="thumbnail" href="#">
                                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/e/e4/Visual_Basic_6.0_logo.png" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>VB6</span>        
                </div>
                </div>
        </a>
</div>
<div class="col-lg-2 col-md-4 col-xs-6 thumb ">
        <a class="thumbnail" href="#">
                                <img class="img-responsive" src="http://freevideolectures.com/course_images/thumb/Data%20Structures%20Fall%2020111435211821.jpg" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>Data structures</span>        
                </div>
                </div>
        </a>
</div>
<div class="col-lg-2 col-md-4 col-xs-6 thumb ">
        <a class="thumbnail" href="#">
                                <img class="img-responsive" src="http://www.renowninfosys.com/images/net.png" alt="">
                <div class="wrapper">
                <div class="caption post-content">
                        <span>VB.Net+ASP.Net+C#</span>        
                </div>
                </div>
        </a>
</div>
</div>


        <div class="row category-child" style="margin-top:20px">
                <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                <a class="thumbnail" href="#">
                        <img class="img-responsive" src="https://lh3.googleusercontent.com/dvCxVdXx90glVMoixV7TfqthmjmkMt2dAkDkN1Fs1xq29cTEYJBUE3XOJ5_UfAuoFyY=w300" alt="">
                        <div class="wrapper">
                        <div class="caption post-content">
                                <span>DBMS</span>
                        </div>
                        </div>
                </a>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6 thumb ">
                        <a class="thumbnail" href="#">
                                <img class="img-responsive" src="https://d19bmpuck59ajs.cloudfront.net/wp-content/uploads/2017/01/03133748/php.png" alt="">
                                <div class="wrapper">
                                <div class="caption post-content">
                                        <span>PHP</span>
                                </div>
                                </div>
                        </a>
                        </div>
        </div>
</div>
<div class="container link">
        <h3>Here few links are provided of some lectures</h3><br>
        <a class="vlink" href="https://www.youtube.com/watch?v=XmUSbmW4zfQ">JAVA_lecture1</a><br>
        <a class="vlink" href="https://www.youtube.com/watch?v=MLslHky5VPY">JAVA_lecture2</a><br>
        <a class="vlink" href="https://www.youtube.com/watch?v=pfKDEaGdqLs">JAVA_inheritence</a><br>
        <br>
        <p>For more , join TAC Raipur</p>
        
</div>