<main>
<% include ./partials/header.ejs %> 

      <!-- Carousel
      ================================================== -->
      <div id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="4000">
        
        <div class="carousel-inner">
          <div class="item active">
            <img class="co_img" src="/images/tac1.jpg" class="img-responsive">
          </div>
          <div class="item">
            <img class="co_img" src="/images/tac2.jpg" class="img-responsive">
          </div>
          <div class="item">
            <img class="co_img" src="/images/tac3.jpg" class="img-responsive">
          </div>
        </div>
    </div>
      <!-- /.carousel -->

      <!-- social button -->
      <div class="sosal-btton">
        <p>
            <a  href="https://www.facebook.com/paulsir.tac/?timeline_context_item_type=intro_card_work&timeline_context_item_source=100000186734623&pnref=lhc" target="blank"><i class="fa fa-facebook sidelink" style="color:#3B5998;padding-top:10px"></i></a>
        </p>
        <p>
          <a href="http://www.twitter.com/paulsir23" target="blank"><i class="fa fa-twitter sidelink"  style="color:#1da1f2"></i></a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/tridib-kuar-paul-91aa6189" target="blank"><i class="fa fa-linkedin sidelink"  style="color:#007bb7"></i></a>
        </p>
        </div>
      <a name="about"></a>
      <!-- ABOUT PAGE -->
      <h1 class ="heading">About</h1>
    	
	<div class="container-fluid">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-4">
              <img class="ab_img" src="/images/a.png" alt="IMage Not Found">
          </div>
          <div class="col-md-2"></div>
					<div class="details col-md-6">
              <h3>Thought Applied Creations, are obliged to introduce you to 
              the summer/vocational training courses that are due to launch from April, 2013.
              We highly regard your cooperation for the above and guarantee you the value addition
              of the students, who will be from your esteemed institution.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
        <a name="training"></a>
      <!-- TRAINING AND PROJECT -->
      <h1 class="heading">Trainings</h1>
      <div class="container">
          <div id="main">
          <!-- 3 COLUMN DEMO  -->		
          <div class="col_third">	
            <section class="section--yellow  wow fadeInRightShort "  data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                  <h2 class="tr_head"><a style="color:whitesmoke;" href="#">Selenium testing</a> </h2>
                  <p style="color:#56D839;">
                      Selenium Training makes you an expert in using Selenium Framework 
                      and learn all that is required to write test cases in various languages like 
                      Java, C#, Groovy, Perl, PHP, Python and Ruby using the Selenium testing framework
                      </p>
            </section>
          </div>
        
          <div class="col_third">	
          </div>
        
          <div class="col_third end">	
            <section class="section--yellow wow fadeInRightShort" data-wow-delay="0.5s" style="visibility: visible; -webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                <h2 class="tr_head"><a style="color:whitesmoke;" href="#">Digital Marketing</a> </h2>
                <p style="color:#56D839;">
                    Get digital marketing training from industry experts.
                     Our digital marketing course helps brands with latest digital strategy. 
                     Get certified now!
                    </p> 
            </section>		
          </div>
          <div class="clear"></div>
          <!-- END / 3 COLUMN DEMO -->	
        
          <!-- 3 COLUMN DEMO  -->		
          <div class="col_third">	
          <section class="section--yellow wow fadeInDown">
              <h2 class="tr_head"><a style="color:whitesmoke;" href="#">Python training</a> </h2>
              <p style="color:#56D839;">
                  Python training course is a complete course that will help you to clearly understand the programming language.
                   In this Python programming training you will be exposed to both the basic and advanced concepts.
                  </p>
          </section>
          </div>
        
          <div class="col_third">	
          </div>
        
          <div class="col_third end">	
          <section class="section--yellow wow fadeInDown">
              <h2 class="tr_head"><a style="color:whitesmoke;" href="#">Android training</a> </h2>
              <p style="color:#56D839;">
                  The Android Training course is intended to provide hands-on training on Mobile testing using Appium. 
                  This course will cover all the basic concepts of automation testing of mobile applications.
                  </p>
          </section>		
          </div>
          <div class="clear"></div>
          <!-- END / 3 COLUMN DEMO -->  
        
          <!-- 3 COLUMN DEMO  -->		
          <div class="col_third">	
            <section class="section--yellow wow fadeInDown">
                <h2 class="tr_head"><a style="color:whitesmoke;" href="#">cloud-computing training</a> </h2>
                <p style="color:#56D839;">
                    Learn the ins and outs of the latest cloud-computing platforms, 
                    including Microsoft Azure, Amazon AWS, 
                    </p>
            </section>
            </div>
          
            <div class="col_third">	
            </div>
          
            <div class="col_third end">	
            <section class="section--yellow wow fadeInDown">
                <h2 class="tr_head"><a style="color:whitesmoke;" href="#">Big Data(Hadoop)</a> </h2>
                <p style="color:#56D839;">
                    Learn the tools and techniques to store, manage,
                     process and analyze large data sets with Big Data training courses
                    </p>
            </section>		
            </div>
            <div class="clear"></div>
            <!-- END / 3 COLUMN DEMO --> 
        </div>
        </div>

        <!-- INTERNSHIPS PAGE -->
        <a name="internships"></a>
        <div></div>
        <h1 class="heading">Internships</h1>
        <div class="container">  
            <div class="row catgory-child">
              <div class="col-sm-3 text-center">
                <a class="inLinks" href="#">
                  <img class="img-responsive" src="https://regmedia.co.uk/2015/07/30/android_logo.jpg?x=442&y=293&crop=1" alt="">
                  <div class="wrapper">
                  <div class="caption post-content">
                        <span style="font-size:30px">Android Internship</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-sm-6"></div>
                <div class="col-sm-3 text-center">
                    <a class="inLinks" href="#">
                      <img class="img-responsive" src="http://dreamweaver.net.in/slides/web.png" alt="">
                      <div class="wrapper">
                      <div class="caption post-content">
                            <span style="font-size:30px">Web Internship</span>
                      </div>
                      </div>
                    </a>
                  </div>
        </div>
        </div>
      <!-- STUDENT RECORD PAGE -->
      <a name="record"></a>
      <div></div>
      <h1 class="heading">Records</h1>
  
    <div class="container">  
     <div class="row">
      <div class="col-sm-3 text-center">
        <div id="f1_container">
          <div id="f1_card" >
            <div class="front face">
              <img src= "/images/a1.jpg" style="width:200px;height:200px ;border-radius:100px; margin-bottom:10px">  
              <h3>Gaurav Warlyani</h3>
            </div>
            <div class="back face center">
              <h4>Android Developer </h4>
              <h4>B.TECH</h4>
              <h4>M.TECH</h4>
            </div>
          </div>
          </div>
      </div>
        <div class="col-sm-3 text-center">
          <div id="f1_container">
            <div id="f1_card">
              <div class="front face">
                  <img src= "/images/a1.jpg" style="width:200px;height:200px ;border-radius:100px; margin-bottom:10px">  
                  <h3>Gaurav Warlyani</h3>
              </div>
              <div class="back face center">
                  <h4>Android Developer </h4>
                  <h4>B.TECH</h4>
                  <h4>M.TECH</h4>
              </div>
            </div>
            </div>
        </div>
          <div class="col-sm-3 text-center">
            <div id="f1_container">
              <div id="f1_card" >
                <div class="front face">
                    <img src= "/images/a1.jpg" style="width:200px;height:200px ;border-radius:100px; margin-bottom:10px">  
                    <h3>Gaurav Warlyani</h3>
                </div>
                <div class="back face center">
                    <h4>Android Developer </h4>
                    <h4>B.TECH</h4>
                    <h4>M.TECH</h4>
                </div>
              </div>
              </div>
          </div>
            <div class="col-sm-3 text-center">
              <div id="f1_container">
                <div id="f1_card">
                  <div class="front face">
                      <img src= "/images/a1.jpg" style="width:200px;height:200px ;border-radius:100px; margin-bottom:10px">  
                      <h3>Gaurav Warlyani</h3>
                  </div>
                  <div class="back face center">
                      <h4>Android Developer </h4>
                      <h4>B.TECH</h4>
                      <h4>M.TECH</h4>
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>   

        <a name="contact"></a>
<% include ./partials/footer.ejs %>
</main>
<div class="container loader">
	<div class="ring">
		Loading
		<span class="load"></span>
	</div>
</div>
<script>
  $(document).ready(function(){
    $('main').hide();
    $(window).on({
      load : function(){
        $('.loader').hide();
        $('main').show();
      }
    })
  })
</script>