<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <script src="https://use.fontawesome.com/1dec14be15.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">  
  <script src="/javascripts/animate.js"></script>
  </head>
<body>
<h1 class="mainheading">Register</h1>
 <div class="row col-md-8 col-md-offset-2 registeration">
        
    <div class="registerInner">
        <div class="col-md-3"></div>
            <div class="col-md-6 signUp">
                <form action="" method="post">
                    <input class="form-control" type="text" name="name" id="name" required placeholder="FULL NAME">
                    <input class="form-control" type="text" name="father" id="father" required placeholder="FATHER'S NAME">
                    <input class="form-control" type="text" name="mother" id="mother" required placeholder="MOTHER'S NAME">
                    <input class="form-control" type="tel" name="phone" id="phone" required placeholder="MOBILE NO." maxlength="10">
                    <input class="form-control" type="email" name="email" id="email" required placeholder="YOUR EMAIL">
                    <textarea class="form-control" type="text"  name="address" id="address" required cols="30" rows="5" placeholder="YOUR ADDRESS"></textarea>
                    <input class="form-control"type="date" name="birthday" required id="birthday" placeholder="BIRTHDAY">
                    <input class="form-control" type="text" required name="college" id="college" required placeholder="COLLEGE'S NAME">
                    <select class="">
                            <option value="" disabled="disabled" required selected="selected">SEMESTER</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                    </select> 
                    <input  type="text" required name="branch" id="branch" required placeholder="BRANCH'S NAME">                    
                    <div class="row">
                        <label class="col-lg-4"><input type="checkbox" name="C" value="C"> C </label>                                            
                        <label class="col-lg-4"><input type="checkbox" name="C++" value="C++"> C++ </label>                                           
                        <label class="col-lg-4"><input type="checkbox" name="C/C++" value="C/C++"> C/C++ </label>                                           
                        <label class="col-lg-4"><input type="checkbox" name="PHP" value="PHP"> PHP </label>                                          
                        <label class="col-lg-4"><input type="checkbox" name="DS" value="DS"> DS </label>                                     
                        <label class="col-lg-4"><input type="checkbox" name="VB6" value="VB6"> VB6 </label>                                          
                        <label class="col-lg-4"><input type="checkbox" name="DBMS" value="DBMS"> DBMS </label>                                           
                        <label class="col-lg-4"><input type="checkbox" name=".NET" value=".NET"> .NET </label>                                         
                        <label class="col-lg-4"><input type="checkbox" name="JavaCp" value="JavaCp"> JAVA (Comp) </label>
                        <label class="col-lg-4"><input type="checkbox" name="JavaC" value="JavaC"> JAVA (Core) </label>                                          
                        <label class="col-lg-4"><input type="checkbox" name="JavaA" value="JavaA"> JAVA (Advanced) </label>                                     
                        <label class="col-lg-4"><input type="checkbox" name="Android" value="Android"> Android </label>                                                                   
                    </div>
                        <input style="margin:10px " type="reset" value="Reset">
                        <input type="submit" value="Submit">
                </form>
            </div>      
    </div>       
</div>