<% include ./partials/header.ejs %>
	<div class="container ">
        <h1 class ="heading ">Tuitions</h1>
        <div  class="row col-sm-2"></div>
        <div class="col-sm-6">
           <h3 class=" loading">
                We provide you tutions on different subjects. 
                The duration for each batch will be 1 hr per day,
                with 3-4 classes per week. Maximum batch strength will be 10.
                We will also provide you guidance for mini projects. 
                You can select time slice between 6:00 am to 10:00 pm as per your ease.
                Time preference will be given to you according to first come first serve basis.
                In the case of late joining, facility of extra classes is also available.
           </h3>
        </div>
    </div>