.category-child .post-content span {
    color: whitesmoke;
}
.category-child .post-content {
    background-color:#596356;
    color: whitesmoke;
    margin-top: -30px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 30px;
    overflow: hidden;
}
.thumb img {
    width: 200px;
    height: 150px;
}

.post-content span {
    line-height: 30px;
    position: relative;
    top: -10px;
}

.link{
    background-color:#56D839;
    width:30%;
    float: right;
}
.vlink{
    color: whitesmoke;
}
a:focus, a:hover {
    color: #3D433C;
    text-decoration: underline;
}
/* heading  */
.mainheading{
    text-align: center;
    margin: 20px;
    color: #35b007;
    font-variant: small-caps;
    font-family: "Times New Roman",serif;
    font-size: 70px;
  }
